 .card{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
  
 }
 img{
    width: 60%;
   margin-top: 10px;
   margin-left: 35px;
 }
 .desc{
    line-height: 2px;
    padding: 10px;
     border-radius : 10px -bottom;
 }
 .card:hover{
    box-shadow: 5px 5px 25px black;
 }