p{
    color: brown;
    text-align: center;
}
body{
    text-align: center;
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: green;
}
button{
    color: blueviolet;
    background: white;
}
textarea{
    color: black;
}
h1{
    text-decoration: underline;
}


