.pets{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cards{
    width: 350px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 20px;
}

@media(max-width:391px){

    .pets{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width: 90%;
    }
}
h1{
    color: rgb(154, 39, 85);
    text-align: center;
    font-size: 50px;
}
h4{
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 80px;
    height: 20px;
}
h3{
    color: burlywood;
    text-shadow: 15px;
}
#red{
    height: 280px;
}
#us{
    height: 280px;
}
body{
    background-color: lightgray;
}